<a href="https://colab.research.google.com/github/H4YWYRE/python-notes/blob/main/Python_Notes_DAY_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List
List are ordered sequence types that can hold a variety of object types.
Lists are use [] and , to separate the objects in a list. You can also perform slicing and indexing.

In [1]:
myList = [1,2,3]

In [2]:
myList = ['String',100,23.2] # List can also hold integers, floats and strings.

In [4]:
len(myList) #Here the len function counted all the items.

3

In [5]:
myList = ['one','two','three']

In [6]:
myList[1] #Here is an example of indexing and....

'two'

In [8]:
myList[1:] #..... Slicing

['two', 'three']

In [9]:
anotherList = ['four', 'five']

In [13]:
myList + anotherList #Here we can add our variables and combine both lists into one whole list.
#BUT this does NOT save the list, if you run the myList or anotherList then it will be the same before the concatenation (adding)

['one', 'two', 'three', 'four', 'five']

In [14]:
# To actually combined both lists you have to do this:

newList = myList + anotherList

In [16]:
newList #voila!!!

['one', 'two', 'three', 'four', 'five']

In [20]:
 # Remember when we couldn't change a STRING, but in a LIST we can!
#Here's how.
newList[0] = 'ONE IN ALL CAPS'

In [21]:
newList

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five']

In [33]:
#Another thing you can do is adding an item to your list, and python has a feature that can help you with that
# Here's how its done:

newList.append('six') #By using the ".append" method you can add an item to the end of a list.

In [34]:
newList #Oh.... Here I ran the code twice and now I have two sixes, but there is a way to remove an unwanted item in a list
#You can use the ".pop" method and remove the last itme of a list. Try it out.

['three', 'four', 'five', 'six', 'six']

In [35]:
newList.pop()

'six'

In [36]:
newList

['three', 'four', 'five', 'six']

In [41]:
newList.pop(0) #By indexing and using the .pop method we can remove specific items in the list.
#reverse indexing works as well too!

'five'

In [42]:
newList

['six']

In [45]:
newList = ['a','e','x','b','c']
numList = [4,1,8,3] #You're wondering why all the items are unordered? I'm glad you asked, the next step is where you can
#Use the .sort method to basically sort the items.

In [46]:
newList.sort()

In [48]:
newList

['a', 'b', 'c', 'e', 'x']

In [49]:
numList.sort()

In [51]:
numList #I'm getting good at this! :)

[1, 3, 4, 8]

In [52]:
# There is also the .reverse method, where it will reverse the order of your list. Here's an example:

numList.reverse()

In [53]:
numList

[8, 4, 3, 1]