<a href="https://colab.research.google.com/github/H4YWYRE/python-notes/blob/main/Python_Notes_DAY_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Properties & Mehtods

In [2]:
#Immutability
name = "Sam"

In [3]:
name = [0] = "p" #You will get an error because the string object does NOT support item assignment

SyntaxError: cannot assign to literal (<ipython-input-3-8a3a386f3cdd>, line 1)

In [29]:
#This is the correct way of doing it.
name[1:]
last_letters = name[1:]

In [25]:
"p"+ last_letters
x # This process is called "String Concatenation, where you bascially put strings together."

'pam'

In [24]:
x = "Hello World"

In [26]:
x = x + " My name is Carlos" #Leave a little space.

In [30]:
# You can also do mutliplication for concatenation, here's an example:

letter = 'z'

In [31]:
letter * 10 # Now we got ten Zs

'zzzzzzzzzz'

In [33]:
'2' + '3' #This is why we have certain data types, in this case we get 23 rather than 5, because we are adding strings instead of integers.

'23'

In [34]:
#We have built in objects in python here's an example:

x = "Hello World"

In [36]:
x.upper() #This makes it all in CAPS  - ALLWAYS PUT IN THE () AT THE END.

'HELLO WORLD'

In [37]:
x.lower() #This makes it all lower case.

'hello world'

In [38]:
#The split method, you are able to make a list off of a string. And it splits on the white space.

x.split()

['Hello', 'World']

In [39]:
x = 'Hi this is a string'

In [44]:
x.split('i') #If you add in a letter it will split at that exact letter. Watch this.
#Basically removes the 'i'

['H', ' th', 's ', 's a str', 'ng']

#String Formatting for Printing

In [45]:
#There are mutiple ways to inject a variable into a string.
#This is called "String Interpolation" = Stick a variable into a string.

In [48]:
print("This is a string {}".format('INSERTED'))

This is a string INSERTED

In [50]:
print("The {} {} {}".format('fox', 'brown', 'quick')) #We can insert many things too!

The fox brown quick

In [51]:
#Let's make it sounds more sense:

print("The {2} {1} {0}".format('fox', 'brown', 'quick'))
#                                0        1       2      Assign them based on index.

The quick brown fox

In [52]:
print("The {0} {0} {0}".format('fox', 'brown', 'quick')) #whatever the index is, you can change the output like this:

The fox fox fox

In [66]:
print("The {f} {b} {q} ".format(f='fox',b='brown',q='quick')) #If you don't wanna use index to insert a string, you can assign them like this!
#This is key words

The fox brown quick

In [70]:
#Another example like this would be:
print("The {badass} {bro} {be} {carlos}".format(badass = "awesome", bro ='gentleman', be = 'is', carlos ='carlos'))

The awesome gentleman is carlos

#Float formatting - {value:width.precision f}

In [71]:
result = 100/777

In [72]:
result

0.1287001287001287

In [75]:
print("The result was {r:1.3f}".format(r=result)) #With this we really are only messing with the 'precision' of the formatting
#Which the 3 was going to 3 places to the right and then rounded the number next to it.

The result was 0.129

In [76]:
print("The result was {r:10.3f}".format(r=result)) #The width is how long and wide you want the string to be.

The result was      0.129

In [78]:
#f-string literals, basically you dont need the .format method
name = "Carlos"

In [80]:
print(f"Hello his name is {name}") #Just add an f in front of the string.

Hello his name is Carlos

In [81]:
#Another example:

name = "Carlos"
age = 26

In [83]:
print(f"His name is {name} and he is {age} years old. ")

His name is Carlos and he is 26 years old.